<?xml version="1.0" encoding="utf-8"?>
<ClientSetting>
	<Database>
		<SQLType>SQLite</SQLType>
		<FileNamedb>db</FileNamedb>
		<ConnectSQLToNet>Disable</ConnectSQLToNet>
		<ConnectIPAddress>0</ConnectIPAddress> //Only work on ConnectSQLToNet
		<ConnectionString>C:\Database\master.db</ConnectionString> //LoadingSQL
		<NetworkCredential>Disable</NetworkCredential>
		<Username>0</Username> //Only work on Enable NetworkCredential
		<Password>0</Password> //Only work on Enable NetworkCredential
		<NOSQL>False</NOSQL>
	</Database>
	<PasswordProtectSetting>
		<PasswordProtection>Enable</PasswordProtection>
		<PasswordProtectType>SHA512</PasswordProtectType>
		<MD5FileProtect>Disable</MD5FileProtect>
		<FileProtectType>Hash</FileProtectType>
		<DailyEncryptDatabase>Disable</DailyEncryptDatabase>
		<AllowLoadSQLOnLocalHost>0</AllowLoadSQLOnLocalHost>
	</PasswordProtectSetting>
	<DateTimeSetting>
		<loginTime>HH:mm:ss</loginTime>
		<loginDate>yyyy-MM-dd</loginDate>
		<EncodingDateTime>UTF-8</EncodingDateTime>
	</DateTimeSetting>
	<Domain>
		<GetUserConnectionDomain>Disable</GetUserConnectionDomain>
	</Domain>
	<METADATA>
		<LoadMetadata>Disable</LoadMetadata>
		<MetadataType>bin</MetadataType>
	</METADATA>
	<AJAX>
		<URL>https://api-callout.cms-project.neverless.xyz</URL>
		<Client>System.Net.HTTP</Client>
		<Format>XML</Format>
		<HTTPRespondReturn>False</HTTPRespondReturn>
	</AJAX>
</ClientSetting>
